---
---

@import "{{ site.theme }}";

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
nav li {
    line-height: 30px;
    display: inline-block;
    border: 1px solid;
    padding: 3px;
    margin: 10px;
    border-radius: 5px 5px;
    color: $header-heading-color;
    opacity: 0.5;
    text-decoration:none;
}
nav a {
    text-decoration: none;
    padding: 8px;
    color: $header-heading-color;
    opacity: 1;
}
nav li.active a {
    color: $blockquote-text-color;
}
