---
---

@import "{{ site.theme }}";


nav a {
    text-decoration: none;
}
nav li.active a {
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}
