---
---

@import "{{ site.theme }}";

nav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
}

nav li.active a {
    color: $blockquote-text-color;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: inline;
    color: $header-heading-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0 auto;
    padding:0;
    text-align:center;
}
